.box {
  border: 1px solid #c0c0c0;
  margin-bottom: 20px;
}

.box-header {
    color: #444;
    display: block;
    padding: 10px;
    position: relative;
}

.box.box-solid .box-header {
  background-color : #5592ce;
  color: white;
}

.box.box-solid .box-header>.box-tools{
  position: absolute;
  right: 10px;
  top: 5px;
}


.box.box-solid .box-header h3{
  font-size: 20px;
}

.box.box-solid>.box-header a,
.box.box-solid>.box-header .btn {
    color: #fff;
}

.box .box-header,
.box .box-body {
  padding: 10px;
}
