.box {
  border: 1px solid #c0c0c0;
  margin-bottom: 20px;
}

.box.box-solid .box-header {
  background-color : #5592ce;
  color: white;
}

.box.box-solid .box-header h3{
  font-size: 20px;
}

.box .box-header,
.box .box-body {
  padding: 10px;
}
